docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
glob2==0.6
pandas==0.24.2
PyPDF2==1.26.0
pyrsistent==0.14.11
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-telegram-bot==11.1.0
python3-wget==0.0.2b1
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
requests==2.21.0
tables==3.5.1
tabula-py==1.4.1
